<h3>Autores de la página</h3>
<table id="tabla_creditos">
  <tr>
    <td>Juan Quemada Vives</td>
    <td><img src="https://static2.miriadax.net/c_image_profile/iPerfil/7514562Thumb.jpg" /></td>
  </tr>
  <tr>
    <td>Fernando Tardío Muñiz</td>
    <td><img src="/images/foto.png" /></td>
  </tr>
</table>
