<div id="search_form">
  Formulario de búsqueda:
  <form method="get" action="/quizes">
    <input type="text" name="search" placeholder="Texto a buscar">
    <input type="submit" value="Buscar">
  </form>
</div>
